.header {
  background-color: #01153e;
}
.header-block {
  letter-spacing: 3px;
}
.subtitle {
  font-family: sans-serif;
  font-size: 1em;
}
.name-company {
  font-family: sans-serif;
  font-size: 2em;
}
.logo {
  width: 100px;
  height: 110px;
}
.number {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6em;
  line-height: 1.2em;
}
.feedback-text {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5em;
  border-bottom: 2px dashed white;
}
.feedback-text:hover {
  font-style: normal;
  font-weight: bolder;
  text-shadow: #5dc8e5 0 0 10px;
}
